@charset "UTF-8";

@font-face {
    font-family: 'Galaxy';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* {/* Configuração Global */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Configuração do Body */
body, html {
    background: url('../imagens/sky-star.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100vw;
    
}





/* Configuração do Header */
header {
    display: block;
    margin: auto;
    margin-top: 40px;

     
}



/* Titulo do site 'Sistema Solar' */
div#sistemasolar > h1 {
    text-align: center;
    font-family: 'Galaxy', Times, serif;
    font-size: 5.5em;
    text-shadow: 5px 5px 0px rgba(255, 255, 255, 0.397);

    height: 100px;

    
    color:white;
    border-radius: 10px;

}



/* Paragrafo 'Os planetas do Sistema Solar' */
div#sub > p {
    
    margin-top: 150px;
    font-family: 'Galaxy', Times, serif;
    text-align: center;
    font-size: 1em;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.397);

    color: rgb(255, 255, 255);
    border-radius: 10px;
}


section#planetas > div#imageSol {
    display: block;
    margin-top: 150px;


    background: url(../imagens/sun.png) no-repeat;
    background-position: center center;
    background-size: contain;
    height: 200px;
}

section#planetas > div#sol {
    background-color: white;
}




